[submodule ".emacs.d/site-lisp/yasnippet"]
	path = .emacs.d/site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule ".emacs.d/site-lisp/magit"]
	path = .emacs.d/site-lisp/magit
	url = https://github.com/magit/magit.git
